@import '../../partials/mixins';

.postCard {
	width: 100%;
	border: 1px solid $vgrey;
	border-radius: 4px;
	background-color: white;
	margin-bottom: 0.5rem;
	&__header {
		padding: 0.25rem 0.5rem;
		display: flex;
		flex-wrap: wrap;
		justify-content: space-between;
		align-items: center;
		margin-bottom: 0.1rem;
		&>a {
			display:flex;
			align-items: center;
		}
	}
	&__title {
		width: 100%;
		font-size: 1.1rem;
		font-weight: 500;
		white-space: nowrap;
		overflow: hidden;
		text-overflow: ellipsis;
		margin-bottom: 0.2rem;
		&:hover{
			color: $vdarkblue;
		}
	}
	&__link {
		width: 100%;
	}
	&__subimg {
		width: 15px;
		margin-right: 0.1rem;
		border: 1px solid $vsilver;
		border-radius: 100%;
	}
	&__sub {
		font-weight: 500;
		font-size: 0.8125rem;
		margin-right: 0.5rem;
		&:hover{
			color: $vdarkblue;
		}
	}
	&__info {
		margin-left: auto;
		color: $vsilver;
		font-size: 0.8125rem;
		&:hover{
			color: $vdarkblue;
		}
	}
	&__content {
		padding: 0.25rem 0.5rem;
		border-bottom: 1px solid $vgrey;
		font-size: 0.875rem;
		&:hover{
			color: $vdarkblue;
		}
	}
	&__footer {
		padding: 0.25rem 0.5rem;
		display: flex;
		align-items: center;
		&>p {
			margin-right: 0.75rem;
			font-size: 0.875rem;
		}
	}
	&__icon {
		margin-right: 0.2rem;
		&>path {
			&:hover {
				color: $vdarkblue;
			}
		}
	}
}