@import '../../partials/mixins';

.sub {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__banner {
		width: 100%;
		height: 50px;
		background-color: $vlightblue;
		@include tablet {
			max-width: 650px;
		}
	}
	&__header {
		width: 100%;
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
		background-color: white;
		border-bottom: 1px solid $vgrey;
		@include tablet {
			max-width: 650px;
			border: 1px solid $vgrey;
			border-radius: 4px;
			margin-top: 0.5rem;
		}
	}
	&__headercontent {
		width: 100%;
		padding: 0.5rem;
		max-width: 650px;
		display: flex;
		flex-wrap: wrap;
		align-items: center;
		justify-content: center;
		@include tablet {
			justify-content: flex-start;
			&> button {
				max-width: 100px;
				margin-left: auto;
				order: 3;
			}
		}
		@include desktop {
			max-width: 800px;
		}
	}
	&__titlebox {
		margin-right: auto;
	}
	&__title {
		font-weight: 500;
		font-size: 1.25rem;
	}
	&__members {
		color: $vsilver;
		font-size: 0.875rem;
	}
	&__description {
		margin: 0.5rem 0;
		width: 100%;
		@include tablet {
			order: 4;
		}
	}
	&__avatar {
		width: 60px;
		border: 1px solid $vblack;
		border-radius: 100%;
		margin-right: 0.75rem;
	}
	&__button {
		display: flex;
		justify-content: center;
		align-items: center;
		width: 100%;
		max-width: 650px;
		height: 2rem;		
		background-color: white;
		border: 1px solid $vlightblue;
		border-radius: 4px;
		color: $vlightblue;
		font-weight: 500;
		margin: 0.5rem 0;
		&:hover {
			background-color: $vdarkblue;
			color: white;
			border: none;
		}
		&--inverse {
			border: none;
			background-color: $vlightblue;
			color: white;
		}
	}
	&__body {
		width: 100%;
		padding: 0 0.5rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		&> * {
			width: 100%;
			max-width: 650px;
		}
	}
	&__postlist {
		
	}
}
