@import '../../partials/mixins';

.contributionCard {
	border-top: 1px solid $vgrey;
	display: flex;
	align-items: center;
	padding: 0.3rem 0;	
	&>a {
		display: flex;
		align-items: center;
	}
	&__avatar {
		max-width: 18px;
		max-height: 18px;
		border: 1px solid $vblack;
		border-radius: 100%;
		margin-right: 0.2rem;
	}
	&__sub {
		font-size: 0.8125rem;
	}
	&__votebox {
		margin-left: auto;
		display: flex;
	}
	&__icon {
		margin-left: 0.5rem;
	}
	&__count {
		font-size: 0.8125rem;	
		margin-left: 0.1rem;
	}
}