@import '../../partials/mixins';

.profile {
	display: flex;
	flex-direction: column;
	align-items: center;
	&__list {
		width: 100%;
		max-width: 650px;
		padding: 0.5rem;
		display: flex;
		flex-direction: column;
		align-items: center;
		@include tablet {
			padding: 0;
		}
		&> * {
			width: 100%;			
		}
	}
}