@font-face {
	font-family: 'Roboto';
	src: url("../assets/fonts/Roboto-Light.ttf");
	font-weight: 300;
}
@font-face {
	font-family: 'Roboto';
	src: url("../assets/fonts/Roboto-LightItalic.ttf");
	font-weight: 300;
	font-style: italic;
}
@font-face {
	font-family: 'Roboto';
	src: url("../assets/fonts/Roboto-Medium.ttf");
	font-weight: 500;
}
@font-face {
	font-family: 'Roboto';
	src: url("../assets/fonts/Roboto-MediumItalic.ttf");
	font-weight: 500;
	font-style: italic;
}
@font-face {
	font-family: 'Roboto';
	src: url("../assets/fonts/Roboto-Bold.ttf");
	font-weight: 700;
}
@font-face {
	font-family: 'Roboto';
	src: url("../assets/fonts/Roboto-BoldItalic.ttf");
	font-weight: 700;
	font-style: italic;
}